@use "_variables.scss";
html,
body {
  height: 100%;
}
body {
  background-color: variables.$color-white;

  min-height: 100%;
}

#app {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  color: white;
  margin-top: auto;
  padding-top: 0.5em;
  justify-self: flex-end;
  font-size: 0.8em;
  color: variables.$color-black;
}
