$color-white: #ffffff;
$color-black: #111111;
$color-grey: #666666;
$color-gold: #e2c377;
$color-lightgrey2: #efefef;
$color-lightgrey: #aaaaaa;
$body-color: #666666;

$font-family: 'Open Sans', sans-serif; //$font-family-sans-serif
$font-family-sans-serif2: 'Roboto Condensed', sans-serif;
$font-family-sans-serif3: 'Roboto', sans-serif;
